@model DiaB.Import.Models.FileUploadViewModel
@{
    ViewData["Title"] = "File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        padding: 50px;
        font-weight: 500;
    }
</style>
<h1>File Upload Example</h1>
<div class="form-group row">
    <form asp-action="File" class="text-left form-validate" enctype="multipart/form-data">
        <div class="form-group col-sm-12">
            <div class="file-select-button" id="fileName">Upload Excel File</div>
            <input asp-for="XlsFile" type="file" id="chooseFile">
        </div>
        <br />
        <br />
        <br />
        <div class="form-group col-sm-6">
            <button type="submit" class="btn btn-primary">Read Excel File</button>
        </div>
    </form>
</div>
<div class="row">
    <h1>
        Display Excel File Records
    </h1>

    <table class="table table-active table-bordered" width="100">
        <thead>
        <th>Count</th>
        @foreach (var count in Model.StaffInfoViewModel.StaffList)
        {

            <td>@count.Count</td>
        }

        </thead>
    <tr>
        <th>Bệnh nhân</th>
        <th>Mã số</th>
        <th>Loại khảo sát</th>
        <th>Tên khảo sát</th>
        <th>Mã khảo sát</th>
        <th>Tuổi</th>
        <th>Giới tính</th>
        <th>Số điện thoại</th>
        <th>Ngày thực hiện khảo sát</th>
        <th>Tỉnh thành</th>
      
    </tr>
        <tbody>
            @foreach (var item in Model.StaffInfoViewModel.StaffList)
            {

            <tr>
                <td>@item.user_name</td>
                <td>@item.user_code</td>
                <td>@item.survey_type</td>
                <td>@item.survey_name</td>
                <td>@item.survey_code</td>
                <td>@item.user_age</td>
                <td>@item.user_gender</td>
                <td>@item.user_phone</td>
                <td>@item.survey_day</td>
                <td>@item.user_province</td>
               


            </tr>
            }
        </tbody>
    </table>
</div>
